[Unit]
Description=SoftSpend FastAPI Uvicorn
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/SoftSpend/Python
Environment=PATH=/home/ubuntu/SoftSpend/Python/.venv/bin
EnvironmentFile=/home/ubuntu/SoftSpend/Python/.env
ExecStart=/home/ubuntu/SoftSpend/Python/.venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --no-access-log
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/softspend/app.log
StandardError=append:/var/log/softspend/app.log

[Install]
WantedBy=multi-user.target
